@import url('https://fonts.googleapis.com/css2?family=Antic&family=Lato:wght@400;700&display=swap');

*{
  /* margin: 0;
  padding: 0; */
}

:root {
  --main-text-color: rgb(0, 0, 0);
  --heading-text-color: #2950a3;
  --header-background-color:rgb(41, 80, 163);
  --background-color:rgb(255, 255, 255);
  --icon-color:blue;
  --icon-color-hover:darkblue;
  --footer-background-color:#eff2f6;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
  color: var(--main-text-color);
  line-height: 1.5em;
}

.header {
  display: flex;
  height: 100px;
  background-color: var(--header-background-color);
  align-content: center;
}

.container {
  width: 90%;
  margin: auto;
}

h1 {
  margin: auto auto auto 5%;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 2px black;
}

h2 {
  color: var(--heading-text-color);
  text-transform: uppercase;
  
}

img {
  width: 70%;
  max-width: 700px;
  display: flex;
  margin: 3em auto;
  border-radius: 20px;
}

.video {
  display: flex;
  justify-content: center;
  margin: 3em;
}

table td {
  padding-right: .5em;
}

th {
  text-align: right;
  padding-right: 1em;
}

i {
  color: var(--icon-color);
  transition: color .3s ease;
}

i:hover {
  color: var(--icon-color-hover)
}

.footer {
  color: #000;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-background-color);
}

.footer i {
  color: #000;
}